/*----IMPORTING-FONTS----*/

@font-face {
  font-family: "Back to the future 2002";
  src: url(../font/BTTF.ttf) format("truetype");
}

@font-face {
  font-family: "Saira";
  src: url(../font/Saira.ttf) format("truetype");
}


/*----ROOT-VARIABLES----*/
:root {
  --bs-title-font-family: "Back to the future 2002";
  --bs-body-font-family: "Saira";

  --bs-blue: #0A0B1A;
  --bs-blue-rgb: 10, 11, 26;

  --bs-white: #FFFEE9;
  --bs-azure: #31DEE5;
  --bs-azure-rgb: 49, 222, 229;
  --bs-yellow: #FFFB40;
  --bs-yellow-rgb: 255, 251, 64;
  --bs-violet: #D62EE6;
  --bs-violet-rgb: 214, 46, 230;

  --bs-body-bg: var(--bs-blue);
  --bg-body-tertiary: var(--bs-white);

  --bs-body-color: var(--bs-white);
}

/*----CUSTOM-BACKGROUNDS----*/
.bg-body-tertiary {
  background-color: var(--bg-body-tertiary) !important;
}

/*----CUSTOM-SPACING----*/
.my-p-top-1 {
  padding-top: 1rem !important;
}

.my-p-top-2 {
  padding-top: 2rem !important;
}

.my-p-top-3 {
  padding-top: 3rem !important;
}

.my-m-top-1 {
  margin-top: 1rem !important;
}

.my-m-top-2 {
  margin-top: 2rem !important;
}

.my-m-top-3 {
  margin-top: 3rem !important;
}

.my-m-top-4 {
  margin-top: 4rem !important;
}

.section-spacing {
  margin-top: 12rem;
  margin-bottom: 12rem;
}

.inside-spacing {
  margin-top: 6rem;
}

.my-gap {
  gap: 0.625rem !important;
}

.my-row-padding {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}


/*----BODY-STYLES----*/

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  overflow-x: hidden;
}

body {
  background-color: var(--bs-blue);
  overflow-x: hidden;
}


/*----BACKGROUND-ANIMATION----*/
.bg-noise {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('../img/bg_noise.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.5s infinite;
  opacity: 0.2;
  visibility: visible;
  z-index: -1;
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0)
  }

  10% {
    transform: translate(-5%, -5%)
  }

  20% {
    transform: translate(-10%, 5%)
  }

  30% {
    transform: translate(5%, -10%)
  }

  40% {
    transform: translate(-5%, 15%)
  }

  50% {
    transform: translate(-10%, 5%)
  }

  60% {
    transform: translate(15%, 0)
  }

  70% {
    transform: translate(0, 10%)
  }

  80% {
    transform: translate(-15%, 0)
  }

  90% {
    transform: translate(10%, 5%)
  }

  100% {
    transform: translate(5%, 0)
  }
}


/*----TEXT-SIZE----*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--bs-title-font-family);
}

h1 {
  /*  
      1.875rem = Min dimension (Mobile)
      5vw    = Variable dimension (5% of screen width)
      3.4375rem   = Max dimension (Large screens)
  */
  font-size: clamp(1.875rem, 6vw, 3.4375rem);
  font-family: var(--bs-title-font-family);
}

h2 {
  /*font: 2.8125rem var(--bs-title-font-family);*/
  font-size: clamp(1.6875rem, 5vw, 2.8125rem);
  font-family: var(--bs-title-font-family);
}

h3 {
  font-size: clamp(1.5rem, 4vw, 2.1875rem);
  font-family: var(--bs-title-font-family);
}

h4 {
  font-size: clamp(1.25rem, 3vw, 1.5625rem);
  font-family: var(--bs-title-font-family);
}

p {
  font-size: clamp(1.125rem, 2.5vw, 1.375rem);
}


/*----BUTTON-STYLES----*/
.btn-custom {
  background-color: var(--bs-azure);
  color: var(--bs-blue);
  font-weight: bold;
  padding: 1rem 4rem;
  border-radius: 10px;
  border-style: none;
  box-shadow: 0 0 10px rgba(var(--bs-azure-rgb), 1),
    0 0 20px rgba(var(--bs-azure-rgb), 0.8),
    0 0 30px rgba(var(--bs-azure-rgb), 0.6);
  transition: box-shadow 0.5s ease-in-out;
}

.btn-custom:hover {
  box-shadow: 0 0 30px rgba(var(--bs-azure-rgb), 1),
    0 0 40px rgba(var(--bs-azure-rgb), 0.8),
    0 0 50px rgba(var(--bs-azure-rgb), 0.6);
}


/*----CHANGES-NAVBAR----*/
.navbar-brand {
  width: 15vw;
  padding-left: 2rem;
}

.navbar {
  border-radius: 0 0 20px 20px;
}

.navbar-nav {
  --bs-navbar-nav-link-padding-x: 2rem;
}

.nav-item {
  font: 1.375rem var(--bs-body-font-family);
  font-weight: bold;
}

.navbar-nav .nav-link.active {
  text-shadow: 0px 0px 5px var(--bs-azure),
    0px 0px 10px var(--bs-azure),
    0px 0px 15px var(--bs-azure),
    0px 0px 20px var(--bs-azure);
}

.navbar-nav .nav-link:hover {
  text-shadow: 0px 0px 5px var(--bs-violet),
    0px 0px 10px var(--bs-violet),
    0px 0px 15px var(--bs-violet),
    0px 0px 20px var(--bs-violet);

  transition: text-shadow 0.5s ease-in-out;
}


/*----HERO-SECTION----*/
.hero-section {
  margin-top: -20px;
  background-image: url('../img/nemo.gif');
  background-color: rgba(var(--bs-blue-rgb), 0.3);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 0 0 20px 20px;
}

.freq-value {
  font-weight: bold;
  display: inline-block;
  width: 4rem;
}

.change-freq {
  background-color: transparent;
  border: none;
  color: var(--bs-white);
  font-size: 2rem;
  margin: 0;
}


/*----3D-SECTION----*/
.canvas-container {
  width: 100%;
  height: 40vh;
  position: relative;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glow-violet {
  filter: drop-shadow(0px 0px 50px rgba(var(--bs-violet-rgb), 1));
}

.glow-azure {
  filter: drop-shadow(0px 0px 50px rgba(var(--bs-azure-rgb), 1));
}

.glow-yellow {
  filter: drop-shadow(0px 0px 50px rgba(var(--bs-yellow-rgb), 1));
}


/*----DOTTED-LINE----*/
.azure-dots-line {
  width: 100%;
  height: 1rem;

  background-image: radial-gradient(circle, var(--bs-azure) 5px, transparent 5px);
  background-size: 2.5rem 1rem;

  background-repeat: repeat-x;
  background-position: center;

  filter: drop-shadow(0 0 10px rgba(var(--bs-azure-rgb), 1)) drop-shadow(0 0 5px rgba(var(--bs-azure-rgb), 0.8));
}


/*----REVIEW-SECTION----*/
/*----DOT-WAVE----*/
canvas {
  display: block;
  z-index: -1;
  position: absolute;
  opacity: 0.3;
}

.card-img-custom {
  aspect-ratio: 16/9;
  border-radius: 20px;
  object-fit: cover;
}

.card {
  border-radius: 20px;
  background-color: var(--bs-white);
  border: none;
  color: var(--bs-blue);
}

.card-body {
  padding: 2rem;
}

.card-text {
  margin-top: 2rem;
}

.card-glow {
  box-shadow: 0 0 25px rgba(var(--bs-azure-rgb), 1),
    0 0 35px rgba(var(--bs-azure-rgb), 0.8);
}

/*----CARD-RATING----*/
.rating-dots {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 15px;
  margin-top: 1rem;
}

.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--bs-azure);
}

.dot.empty {
  background-color: transparent;
  border: 2px solid var(--bs-azure);
}


/*----FOOTER----*/
.tech-footer {
  background-color: var(--bs-white);
  padding: 4rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.footer-brand {
  height: 2.5vw;
}

/* Copyright */
.copyright-text {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--bs-blue);
}

/* Social icons */

.bi .bi-twitter-i {
  padding: 0;
  margin: 0;
}

.social-icons {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.social-icons a {
  color: var(--bs-blue);
  margin-left: 4rem;
  transition: text-shadow 0.5s ease;
}

.social-icons a:hover {
  text-shadow: 0 0 20px rgba(var(--bs-azure-rgb), 1),
    0 0 30px rgba(var(--bs-azure-rgb), 0.8),
    0 0 40px rgba(var(--bs-azure-rgb), 0.6);
}

/* Legal Links (Privacy, etc.) */
.footer-links a {
  color: var(--bs-blue);
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 500;
  margin-left: 4rem;
}

.footer-links a:hover {
  text-decoration: underline;
}


/*----RESPONSIVE-STYLE----*/

/*----MOBILE-STYLE----*/
@media (max-width: 768px) {

  /*----HIDING-DIFFERENT-ELEMENTS----*/
  .desktop-only {
    display: none;
  }

  /*----SPACE-ADJUSTMENTS----*/
  .section-spacing {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  .my-row-padding {
    padding-left: 20px;
    padding-right: 20px;
  }


  /*----CHANGES-NAVBAR----*/
  .navbar-brand {
    width: 60vw;
    padding-left: 0.5rem;
  }

  .navbar-toggler {
    border: none;
    color: var(--bs-blue);
  }

  .navbar-toggler-icon {
    border: none;
    color: var(--bs-blue);
  }


  /*----HERO-SECTION----*/
  .hero-section {
    aspect-ratio: 9/16;
  }

  /*----3D-SECTION----*/
  .glow-violet {
    filter: drop-shadow(0px 0px 25px rgba(var(--bs-violet-rgb), 1));
  }

  .glow-azure {
    filter: drop-shadow(0px 0px 25px rgba(var(--bs-azure-rgb), 1));
  }

  .glow-yellow {
    filter: drop-shadow(0px 0px 25px rgba(var(--bs-yellow-rgb), 1));
  }

  /*---CAROUSEL---*/
  /* Reset of Bootstrap's base style */
  .carousel-indicators [data-bs-target] {
    width: 20px;
    /* Size of the dot */
    height: 20px;
    border-radius: 50%;
    /* Makes it round */
    border: none;
    margin: 0 10px;
    /* Space between the dots */
    opacity: 0.5;
    /* Opacity when inactive */
    transition: all 0.3s ease;
  }

  /* Specific colors for each dot */
  .dot-violet {
    background-color: var(--bs-violet) !important;
    box-shadow: 0 0 10px var(--bs-violet);
  }

  .dot-yellow {
    background-color: var(--bs-yellow) !important;
    box-shadow: 0 0 10px var(--bs-yellow);
  }

  .dot-azure {
    background-color: var(--bs-azure) !important;
    box-shadow: 0 0 10px var(--bs-azure);
  }

  /* Active state (When you are on the corresponding slide) */
  .carousel-indicators .active {
    opacity: 1;
    transform: scale(1.3);
    /* Becomes slightly larger */
    filter: brightness(1.5);
    /* Becomes brighter */
  }
}