/*----IMPORTING-FONTS----*/

@font-face {
  font-family: "Back to the future 2002";
  src: url(../font/BTTF.ttf) format("truetype");
}

@font-face {
  font-family: "Saira";
  src: url(../font/Saira.ttf) format("truetype");
}


/*----ROOT-VARIABLES----*/
:root {
  --bs-title-font-family: "Back to the future 2002";
  --bs-body-font-family: "Saira";

  --bs-blue: #0A0B1A;
  --bs-blue-rgb: 10, 11, 26;

  --bs-white: #FFFEE9;
  --bs-azure: #31DEE5;
  --bs-azure-rgb: 49, 222, 229;
  --bs-yellow: #FFFB40;
  --bs-yellow-rgb: 255, 251, 64;
  --bs-violet: #D62EE6;
  --bs-violet-rgb: 214, 46, 230;

  --bs-body-bg: var(--bs-blue);
  --bg-body-tertiary: var(--bs-white);

  --bs-body-color: var(--bs-white);
}

/*----CUSTOM-BACKGROUNDS----*/
.bg-body-tertiary {
  background-color: var(--bg-body-tertiary) !important;
}

/*----CUSTOM-SPACING----*/
.my-p-top-1 {
  padding-top: 1rem !important;
}

.my-p-top-2 {
  padding-top: 2rem !important;
}

.my-p-block-2 {
  padding-block: 2rem !important;
}

.my-p-top-3 {
  padding-top: 3rem !important;
}

.my-m-top-1 {
  margin-top: 1rem !important;
}

.my-m-top-2 {
  margin-top: 2rem !important;
}

.my-m-top-3 {
  margin-top: 3rem !important;
}

.my-m-top-4 {
  margin-top: 4rem !important;
}

.section-spacing {
  padding-block: 12rem;
}

.section-spacing-top {
  padding-top: 12rem;
}

.inside-spacing {
  margin-top: 6rem;
}

.my-gap {
  gap: 0.625rem !important;
}

.my-row-padding {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.my-row-padding-left {
  padding-left: 1.875rem;
}

.my-row-padding-right {
  padding-right: 1.875rem;
}

.my-row-padding-top {
  padding-top: 1.875rem;
}


/*----BODY-STYLES----*/

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  overflow-x: hidden;
}

body {
  background-color: var(--bs-blue);
  overflow-x: hidden;
  /* To avoid content being hidden under the fixed navbar */
  padding-top: 3.5rem;
}

.mobile-only {
  display: none;
}

.tablet-only {
  display: none;
}


/*----BACKGROUND-ANIMATION----*/
.bg-noise {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('../img/bg_noise.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.5s infinite;
  opacity: 0.2;
  visibility: visible;
  z-index: -1;
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0)
  }

  10% {
    transform: translate(-5%, -5%)
  }

  20% {
    transform: translate(-10%, 5%)
  }

  30% {
    transform: translate(5%, -10%)
  }

  40% {
    transform: translate(-5%, 15%)
  }

  50% {
    transform: translate(-10%, 5%)
  }

  60% {
    transform: translate(15%, 0)
  }

  70% {
    transform: translate(0, 10%)
  }

  80% {
    transform: translate(-15%, 0)
  }

  90% {
    transform: translate(10%, 5%)
  }

  100% {
    transform: translate(5%, 0)
  }
}


/*----TEXT-SIZE----*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--bs-title-font-family);
}

h1 {
  /*  
      1.875rem = Min dimension (Mobile)
      5vw    = Variable dimension (5% of screen width)
      3.4375rem   = Max dimension (Large screens)
  */
  font-size: clamp(1.875rem, 6vw, 3.4375rem);
  font-family: var(--bs-title-font-family);
}

h2 {
  /*font: 2.8125rem var(--bs-title-font-family);*/
  font-size: clamp(1.6875rem, 5vw, 2.8125rem);
  font-family: var(--bs-title-font-family);
}

h3 {
  font-size: clamp(1.5rem, 4vw, 2.1875rem);
  font-family: var(--bs-title-font-family);
}

h4 {
  font-size: clamp(1.25rem, 3vw, 1.5625rem);
  font-family: var(--bs-title-font-family);
}

p {
  font-size: clamp(1.125rem, 2.5vw, 1.375rem);
}


/*----SEPARATION-LINES----*/
.azure-dots-line {
  width: 100%;
  height: 1rem;

  background-image: radial-gradient(circle, var(--bs-azure) 5px, transparent 5px);
  background-size: 2.5rem 1rem;

  background-repeat: repeat-x;
  background-position: center;

  filter: drop-shadow(0 0 10px rgba(var(--bs-azure-rgb), 1)) drop-shadow(0 0 5px rgba(var(--bs-azure-rgb), 0.8));
}

.violet-continuous-line {
  width: 100%;
  height: 0.5rem;
  background-color: var(--bs-violet);
  border-radius: 10px;
  filter: drop-shadow(0 0 10px rgba(var(--bs-violet-rgb), 1)) drop-shadow(0 0 5px rgba(var(--bs-violet-rgb), 0.8));
  border: none;
}


/*----BUTTON-STYLES----*/
.btn-custom {
  background-color: var(--bs-azure);
  color: var(--bs-blue);
  font-weight: bold;
  padding: 1rem 4rem;
  border-radius: 10px;
  border-style: none;
  box-shadow: 0 0 10px rgba(var(--bs-azure-rgb), 1),
    0 0 20px rgba(var(--bs-azure-rgb), 0.8),
    0 0 30px rgba(var(--bs-azure-rgb), 0.6);
  transition: box-shadow 0.5s ease-in-out;
}

.btn-custom:hover {
  box-shadow: 0 0 30px rgba(var(--bs-azure-rgb), 1),
    0 0 40px rgba(var(--bs-azure-rgb), 0.8),
    0 0 50px rgba(var(--bs-azure-rgb), 0.6);
}

.btn-custom-violet {
  background-color: var(--bs-violet);
  color: var(--bs-blue);
  font-weight: bold;
  padding: 1rem 4rem;
  border-radius: 10px;
  border-style: none;
  box-shadow: 0 0 10px rgba(var(--bs-violet-rgb), 1),
    0 0 20px rgba(var(--bs-violet-rgb), 0.8),
    0 0 30px rgba(var(--bs-violet-rgb), 0.6);
  transition: box-shadow 0.5s ease-in-out;
}

.btn-custom-violet:hover {
  box-shadow: 0 0 30px rgba(var(--bs-violet-rgb), 1),
    0 0 40px rgba(var(--bs-violet-rgb), 0.8),
    0 0 50px rgba(var(--bs-violet-rgb), 0.6);
}


/*----CHANGES-NAVBAR----*/
.navbar-brand {
  width: 15vw;
  padding-left: 2rem;
}

.navbar {
  border-radius: 0 0 20px 20px;
}

.navbar-nav {
  --bs-navbar-nav-link-padding-x: 2rem;
}

.nav-item {
  font: 1.375rem var(--bs-body-font-family);
  font-weight: bold;
}

.navbar-nav .nav-link.active {
  text-shadow: 0px 0px 5px var(--bs-azure),
    0px 0px 10px var(--bs-azure),
    0px 0px 15px var(--bs-azure),
    0px 0px 20px var(--bs-azure);
}

.navbar-nav .nav-link:hover {
  text-shadow: 0px 0px 5px var(--bs-violet),
    0px 0px 10px var(--bs-violet),
    0px 0px 15px var(--bs-violet),
    0px 0px 20px var(--bs-violet);

  transition: text-shadow 0.5s ease-in-out;
}


/*----HERO-SECTION----*/
.hero-section {
  margin-top: -20px;
  background-image: url('../img/nemo.gif');
  background-color: rgba(var(--bs-blue-rgb), 0.3);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 0 0 20px 20px;
}

.freq-value {
  font-weight: bold;
  display: inline-block;
  width: 4rem;
}

.change-freq {
  background-color: transparent;
  border: none;
  color: var(--bs-white);
  font-size: 2rem;
  margin: 0;
}


/*----3D-SECTION----*/
.canvas-container {
  width: 100%;
  height: 40vh;
  position: relative;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glow-violet {
  filter: drop-shadow(0px 0px 50px rgba(var(--bs-violet-rgb), 1));
}

.glow-azure {
  filter: drop-shadow(0px 0px 50px rgba(var(--bs-azure-rgb), 1));
}

.glow-yellow {
  filter: drop-shadow(0px 0px 50px rgba(var(--bs-yellow-rgb), 1));
}


/*----REVIEW-SECTION----*/
/*----DOT-WAVE----*/
canvas {
  display: block;
  z-index: -1;
  position: absolute;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  inset: 0;
}

.canvas-wrapper-desktop {
  position: relative;
}

.card-img-custom {
  aspect-ratio: 16/9;
  border-radius: 20px;
  object-fit: cover;
}

.card {
  border-radius: 20px;
  background-color: var(--bs-white);
  border: none;
  color: var(--bs-blue);
}

.card-body {
  padding: 2rem;
}

.card-text {
  margin-top: 2rem;
}

.card-glow {
  box-shadow: 0 0 25px rgba(var(--bs-azure-rgb), 1),
    0 0 35px rgba(var(--bs-azure-rgb), 0.8);
}

/*----CARD-RATING----*/
.rating-dots {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 15px;
  margin-top: 1rem;
}

.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--bs-azure);
}

.dot.empty {
  background-color: transparent;
  border: 2px solid var(--bs-azure);
}


/*----FOOTER----*/
/*---BASE (General Style)---*/
.tech-footer {
  background-color: var(--bs-white);
  color: var(--bs-blue);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  /* DESKTOP DEFAULT: Wide spacing */
  padding: 3rem;
}

/*---LOGO---*/
.footer-logo-img {
  /* DESKTOP DEFAULT: Big Logo */
  height: 2rem;
  width: auto;
  object-fit: contain;
  display: block;
}

/*---SOCIAL---*/
.social-icons a {
  color: var(--bs-blue);
  text-decoration: none;
  line-height: 1;
  padding-left: 2rem;

  /* DESKTOP DEFAULT: Big Icons */
  font-size: 2rem;
  transition: text-shadow 0.3s ease-in-out;
}

.social-icons a:hover {
  text-shadow: 0 0 20px rgba(var(--bs-azure-rgb), 1),
    0 0 30px rgba(var(--bs-azure-rgb), 0.8),
    0 0 40px rgba(var(--bs-azure-rgb), 0.6);
}

/*---LINK---*/
.footer-links a {
  color: var(--bs-blue);
  text-decoration: none;
  font-weight: 400;
  padding-left: 2rem;
  margin-top: 0.5rem;

  /* DESKTOP DEFAULT */
  font-size: 0.9rem;
}

.footer-links a:hover {
  text-decoration: underline;
}

.copyright-text {
  font-size: 0.75rem;
  font-weight: 500;
  margin-top: 1rem;
  opacity: 0.8;
}


/*---VINYL-SECTION---*/
.vinyl-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  /* Center flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
}

.vinile-bg {
  position: absolute;
  width: 90vw;
  height: 45vh;
  z-index: 0;
  pointer-events: none;
}

/* 3D-Scene */
.scene {
  position: relative;
  width: 15vw;
  height: 15vw;
}

.turntable {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1.2s cubic-bezier(0.2, 0.8, 0.2, 1);
}

/* Card-Structure */
.card-3d {
  position: absolute;
  width: 15vw;
  height: 15vw;
  top: -10vw;
  left: 0;
  transform-style: preserve-3d;
  cursor: pointer;
}

/* Fixed */
.card-3d:nth-child(1) {
  transform: rotateY(0deg) translateZ(35vw);
}

.card-3d:nth-child(2) {
  transform: rotateY(90deg) translateZ(35vw);
}

.card-3d:nth-child(3) {
  transform: rotateY(180deg) translateZ(35vw);
}

.card-3d:nth-child(4) {
  transform: rotateY(270deg) translateZ(35vw);
}

/* Card-Content */
.card-inner {
  width: 100%;
  text-align: center;
  transition: transform 1.2s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.img-frame {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 20px;
  overflow: hidden;
  background: var(--bs-blue, #0A0B1A);
  transition: transform 0.5s ease, border-color 0.5s, box-shadow 0.5s, filter 0.5s;
}

.img-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.caption {
  padding-top: 7vw;
  color: var(--bs-blue, #0A0B1A);
  opacity: 0;
  width: 28vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%) translateY(20px);
  transition: all 0.5s ease;
}

/* States (Active vs Idle) */
.card-3d.active .img-frame {
  transform: scale(1.8);
  box-shadow: 0 0 15px rgba(var(--bs-violet-rgb), 1),
    0 0 25px rgba(var(--bs-violet-rgb), 0.8),
    0 0 30px rgba(var(--bs-violet-rgb), 0.6);
  z-index: 10;
}

.card-3d.active .caption {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

/* Inactive */
.card-3d:not(.active) .img-frame {
  transform: scale(0.8);
  filter: brightness(0.6) grayscale(30%);
}

/*---EVENT-FORM---*/
.neon-input {
  background-color: var(--bs-white);
  border-radius: 10px;
  color: #0A0B1A;
  font-weight: bold;
  padding: 1rem 1.5rem;
  box-shadow: 0 0 10px rgba(var(--bs-violet-rgb), 1),
    0 0 20px rgba(var(--bs-violet-rgb), 0.8),
    0 0 30px rgba(var(--bs-violet-rgb), 0.6);
  transition: box-shadow 0.5s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* Placeholder color */
.neon-input::placeholder {
  color: #0A0B1A;
  opacity: 0.7;
}

.neon-input:focus {
  background-color: #FFFEE9;
  color: #0A0B1A;
  box-shadow: 0 0 15px rgba(var(--bs-violet-rgb), 1),
    0 0 25px rgba(var(--bs-violet-rgb), 0.8),
    0 0 30px rgba(var(--bs-violet-rgb), 0.6);
}


/*----RESPONSIVE-STYLE----*/
/*----MOBILE-TABLET-STYLE----*/
@media (max-width: 1200px) {

  /*----HIDING-DIFFERENT-ELEMENTS----*/
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  /*----SPACE-ADJUSTMENTS----*/
  .section-spacing {
    padding-block: 6rem;
  }

  .section-spacing-top {
    padding-top: 6rem;
  }

  .my-row-padding {
    padding-left: 20px;
    padding-right: 20px;
  }

  .my-p-top-2 {
    padding-top: 1rem !important;
  }

  .my-m-top-4 {
    margin-top: 2rem !important;
  }

  .my-m-top-2 {
    margin-top: 1rem !important;
  }


  /*----CHANGES-NAVBAR----*/
  .navbar-brand {
    width: calc(60vw - 45px);
    padding-left: 0.5rem;
  }

  .navbar-toggler {
    border: none;
    color: var(--bs-blue);
  }

  .navbar-toggler-icon {
    border: none;
    color: var(--bs-blue);
  }


  /*----HERO-SECTION----*/
  .hero-section {
    aspect-ratio: 9/16;
  }

  /*----3D-SECTION----*/
  .glow-violet {
    filter: drop-shadow(0px 0px 25px rgba(var(--bs-violet-rgb), 1));
  }

  .glow-azure {
    filter: drop-shadow(0px 0px 25px rgba(var(--bs-azure-rgb), 1));
  }

  .glow-yellow {
    filter: drop-shadow(0px 0px 25px rgba(var(--bs-yellow-rgb), 1));
  }

  /*---CAROUSEL---*/
  /* Reset of Bootstrap's base style */
  .carousel-indicators [data-bs-target] {
    width: 20px;
    /* Size of the dot */
    height: 20px;
    border-radius: 50%;
    /* Makes it round */
    border: none;
    margin: 0 10px;
    /* Space between the dots */
    opacity: 0.5;
    /* Opacity when inactive */
    transition: all 0.3s ease;
  }

  .carousel-indicators {
    margin: 0;
  }

  /* Specific colors for each dot */
  .dot-violet {
    background-color: var(--bs-violet) !important;
    box-shadow: 0 0 10px var(--bs-violet);
  }

  .dot-yellow {
    background-color: var(--bs-yellow) !important;
    box-shadow: 0 0 10px var(--bs-yellow);
  }

  .dot-azure {
    background-color: var(--bs-azure) !important;
    box-shadow: 0 0 10px var(--bs-azure);
  }

  /* Active state (When you are on the corresponding slide) */
  .carousel-indicators .active {
    opacity: 1;
    transform: scale(1.3);
    /* Becomes slightly larger */
    filter: brightness(1.5);
    /* Becomes brighter */
  }

  /*----REVIEW-CARDS----*/
  .canvas-wrapper-mobile {
    position: relative;
  }

  .card-glow {
    box-shadow: 0 0 15px rgba(var(--bs-azure-rgb), 1),
      0 0 25px rgba(var(--bs-azure-rgb), 0.8);
  }

  /*----FOOTER----*/
  .tech-footer {
    padding: 2rem 1.5rem;
    /* Reducing padding */
  }

  /* Reducing the logo */
  .footer-logo-img {
    height: 1.5rem;
  }

  /* Adapting social icons */
  .social-icons a {
    font-size: 1.4rem;
    /* On mobile they are in a column, giving vertical space */
    margin-bottom: 1rem;
  }

  /* Adapting links */
  .footer-links a {
    font-size: 0.8rem;
    /* More vertical space for touch */
    line-height: 2;
    white-space: nowrap;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}


/*---TABLET-STYLE---*/
@media (min-width: 576px) and (max-width: 1200px) {

  .canvas-wrapper-tablet {
    position: relative;
  }

  .my-row-padding {
    padding-left: 30px;
    padding-right: 30px;
  }

  .my-gap-card {
    padding-left: 15px;
    padding-right: 15px;
  }

  .mobile-only {
    display: none;
  }

  .tablet-only {
    display: block;
  }

  /*---HORIZONTAL-SCROLL---*/
  .scroll-container {
    overflow-x: auto;
    /* Enables horizontal scroll */
    overflow-y: hidden;
    /* Blocks vertical scroll */
    scroll-snap-type: x mandatory;
    /* "Magnet" effect when scrolling */
    scroll-behavior: smooth;
    /* Smooth scrolling */
    -webkit-overflow-scrolling: touch;
    /* Smooth scrolling on iOS */

    /* Hides the scrollbar aesthetically but keeps the function */
    scrollbar-width: none;
    /* Firefox */
    gap: 1.5rem
  }

  .scroll-container::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
  }

  /*---CARD-REVIEW---*/
  .card-item {
    /* Fixed size for cards so they don't shrink */
    flex: 0 0 auto;
    width: 50vw;
    scroll-snap-align: start;
  }

  /* --- CURSOR AND UX FOR DRAGGING --- */
  .scroll-container {
    /* Prevents text selection or image highlighting while dragging */
    user-select: none;
    -webkit-user-select: none;
  }

  /* IMPORTANT: Prevents the browser from trying to drag the image out when dragging the mouse */
  .scroll-container img {
    pointer-events: none;
  }
}